html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

html a,
body a {
  color: inherit;
}

nav {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.icon {
  color: #dadada;
  font-size: 1.15rem;
}

#desktopNav {
  display: none;
}

#desktopLogo {
  display: none;
}

#mobileNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchAcct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  position: relative;
  right: 2rem;
}

.fa-search {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#heroContent {
  width: 100%;
  margin: 0 auto;
}

#myCart {
  width: 90%;
  margin: 0 auto;
}

#myCart h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

.cartItm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid #dadada;
  margin-bottom: 1rem;
}

.cartItm .desktopCartControls {
  display: none;
}

.cartItm .productInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.cartItm .productInfo img {
  width: 22%;
  border-radius: 5px;
  margin-right: 0.75rem;
}

.cartItm .productInfo .artistTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 0.85rem;
  margin-top: -1rem;
}

.cartItm .productInfo .artistTitle span:nth-child(1) {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;
}

.cartItm .productInfo .artistTitle span:nth-child(2) {
  color: #828282;
}

.cartItm .productType {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
  font-size: 0.8rem;
  color: #828282;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.cartItm .productType img {
  width: 1rem;
  margin-right: 5px;
}

.cartItm .removeCreditsSFL {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: right;
}

.cartItm .removeCreditsSFL span {
  font-weight: bold;
  margin-bottom: 1rem;
}

.cartItm .removeCreditsSFL button:nth-child(1) {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #828282;
  font-weight: 100;
  text-align: right;
}

.cartItm .removeCreditsSFL .sflBtn {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  width: 8rem;
  padding: 5px;
  border-radius: 15px;
  background: transparent;
  color: #828282;
  border: 1px solid #828282;
}

#contShopping {
  font-size: 0.95rem;
  background: transparent;
  border: none;
  color: #43b1e6;
  margin: 0.25rem 0 0 1rem;
}

#orderSummary {
  background: #fafafa;
  margin-top: 2rem;
  width: 100%;
}

#orderSummary h3 {
  font-size: 1.75rem;
  margin-left: 1rem;
  padding-top: 2.5rem;
}

#orderSummary span {
  margin-bottom: 1rem;
}

#orderSummary .summaryItm {
  width: 85%;
  margin: 0 auto;
}

#orderSummary hr {
  height: 1px;
  width: 90%;
  margin-bottom: 1rem;
  color: #dadada;
}

#orderSummary .left {
  font-weight: bold;
}

#orderSummary .right {
  color: #828282;
}

#orderSummary .right button {
  background: transparent;
  border: none;
  text-decoration: underline;
  margin-top: 1.25rem;
  color: #43b1e6;
  font-size: 1rem;
}

#orderSummary .promo {
  padding: 0.5rem 0 0.5rem 0;
}

#orderSummary #lastFour {
  color: #828282;
  font-weight: 400;
}

#credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#credits div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#subTotalTax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subTotalTax div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#total div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#payment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#order {
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
}

#order span {
  font-size: 1rem;
  color: #828282;
}

#order div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order div button {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 1rem;
  padding: 15px;
  width: 90%;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  background: #43b1e6;
  border: none;
}

#order #legal {
  width: 85%;
  text-align: center;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

#savedForLater {
  padding-bottom: 3rem;
}

#savedForLater h4 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

#savedForLater .sflBtn {
  margin-top: -15px;
}

#savedForLater .productType {
  margin-top: 14px;
}

#savedForLater .cartItm {
  margin-bottom: 2rem;
}

#savedForLater .cartItm:last-child {
  border-bottom: none;
}

.desktopSFLControls {
  display: none;
}

#sflContainer {
  width: 90%;
  margin: 0 auto;
}

#footer {
  width: 100%;
  background: #282828;
  color: white;
  margin: 0 auto;
  padding: 1rem 0.25rem 0 0.25rem;
}

#footer .footerGroup {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
}

#footer .footerGroup:nth-child(1) {
  margin-top: 3rem;
}

#footer .footerItm {
  text-align: left;
  width: 75%;
}

#footer #resources {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2/2;
}

#footer #company {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2/2;
  position: relative;
  top: 9rem;
}

#footer #account {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2/2;
}

#footer #extras {
  position: relative;
  top: -7rem;
}

#footer h5 {
  font-size: 1.35rem;
  font-weight: 400;
  margin: 1.75rem 0 0.75rem 0;
}

#footer h6 {
  font-size: 1.35rem;
  font-weight: 400;
  margin: 0;
}

#footer span {
  font-size: 1rem;
  color: #919191;
  position: relative;
  top: 8px;
}

#footer ul {
  position: relative;
  bottom: 5px;
}

#footer li {
  color: #919191;
  padding-bottom: 9px;
}

#footer form {
  margin: 0 auto 2rem auto;
}

#footer input[type="text"] {
  width: 65%;
  height: 2.5rem;
  background: #171717;
  border: 0.5px solid #5c5c5c;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#footer input[type="submit"] {
  height: 2.5rem;
  width: 25%;
  background: #43b1e6;
  border: none;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer #socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

#footer #socialIcons i {
  padding: 0.5rem;
  font-size: 1.75rem;
}

#footer #socials {
  position: relative;
  top: -7rem;
}

#footer #socialBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 55%;
}

#footer #socialBtns button {
  color: white;
  width: 6rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px;
}

#footer #socialBtns button:nth-child(1) {
  background: #456db0;
}

#footer #socialBtns button:nth-child(2) {
  background: #43b1e6;
}

#finalNotes {
  background: #171717;
  text-align: center;
  padding: 20px;
  color: #828282;
}

#finalNotes span:nth-child(1) {
  font-size: 1.1rem;
}

#finalNotes span:nth-child(1) i {
  padding: 10px;
}

#finalNotes #fnLinks {
  margin: 0.75rem auto;
}

#finalNotes #fnLinks span {
  padding: 3px;
}

#finalNotes p {
  margin: 0 auto;
  padding-top: 1rem;
  width: 70%;
  padding-bottom: 1rem;
}

#stickyFooter {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  background: white;
  bottom: 0;
  padding: 10px;
}

#stickyFooter #stickyContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 1rem auto;
}

#stickyFooter #totalCredits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#stickyFooter #placeOrder button {
  padding: 15px 30px;
  border-radius: 28px;
  border: none;
  background: #43b1e6;
  color: white;
}

@media only screen and (min-width: 1440px) {
  #mobileNav {
    display: none;
  }
  nav {
    padding: 0 10px 0 10px;
  }
  #desktopNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #desktopNav #desktopLogo {
    font-weight: bold;
  }
  #desktopNav #desktopLogo img {
    width: 25%;
    margin-right: 5px;
  }
  #desktopNav ul {
    list-style: none;
  }
  #desktopNav ul li {
    display: inline;
    padding-right: 10px;
  }
  #desktopNav ul li i {
    font-size: 1rem;
    color: #dadada;
  }
  #desktopNav ul li a {
    text-decoration: none;
    color: #828282;
    font-size: 1rem;
  }
  #desktopNav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #desktopNav #desktopNavRight {
    padding-right: 2rem;
  }
  input[type="text"] {
    border: none;
    border-radius: 5px;
    border: 1px solid #dadada;
  }
  #heroContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  #heroContent #contShopping {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  #heroContent #myCart {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-top: 3rem;
  }
  #heroContent .cartItm {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    margin-top: -2rem;
  }
  #heroContent .productInfo {
    margin-left: 1rem;
  }
  #heroContent .productInfo img {
    width: 15%;
    margin-right: 1.25rem;
  }
  #heroContent .productInfo span {
    font-size: 1rem;
  }
  #heroContent .productType {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 5rem;
  }
  #heroContent .productType img {
    width: 1.5rem;
  }
  #heroContent .productType span {
    font-size: 1rem;
  }
  #heroContent .removeCreditsSFL {
    margin-top: 6.15rem;
    padding-right: 3rem;
  }
  #heroContent .removeCreditsSFL .desktopCartControls {
    display: inline;
    -ms-grid-column: 3;
    grid-column: 3/3;
    text-align: right;
    position: relative;
    left: 6px;
  }
  #heroContent .removeCreditsSFL .desktopCartControls button {
    background: transparent;
    border: none;
    color: #828282;
    font-size: 1rem;
  }
  #heroContent .removeCreditsSFL .desktopCartControls span:nth-child(2) {
    color: #828282;
  }
  #heroContent .removeCreditsSFL .sflBtn {
    display: none;
  }
  #heroContent .removeCreditsSFL .removeBtn {
    display: none;
  }
  #heroContent #orderSummary {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    grid-column: 2/2;
    margin-top: 0;
    padding-top: 2rem;
  }
  #heroContent #orderSummary h3 {
    margin-bottom: 5rem;
  }
  #heroContent #orderSummary .promo {
    margin-top: 1rem;
  }
  #heroContent #orderSummary hr {
    margin: 1rem auto 2rem auto;
  }
  #heroContent #orderSummary #order button {
    width: 75%;
  }
  #heroContent #orderSummary #order span {
    width: 75%;
  }
  #heroContent #savedForLater {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-top: 1.75rem;
  }
  #heroContent #savedForLater img {
    width: 10%;
  }
  #heroContent #savedForLater h4 {
    margin-left: 3.5rem;
    margin-bottom: 4rem;
  }
  #heroContent #savedForLater .cartItm {
    padding: 1rem 0 1rem 0;
  }
  #heroContent #savedForLater .desktopSFLControls {
    position: relative;
    right: 3rem;
    bottom: 2.5rem;
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
    display: inline;
    text-align: right;
  }
  #heroContent #savedForLater .desktopSFLControls button {
    background: transparent;
    border: none;
    color: #828282;
  }
  #heroContent #savedForLater .desktopSFLControls button:nth-child(2) {
    border: 1px solid #828282;
    width: 7rem;
    border-radius: 15px;
    padding: 5px 0 5px 0;
    margin-left: 1rem;
  }
  #footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    margin: 0 auto;
  }
  #footer #footerItms {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    padding-top: 1.5rem;
    padding-left: 3rem;
    width: 90%;
  }
  #footer #footerItms .footerGroup {
    margin-top: 0;
  }
  #footer #footerItms .footerGroup:nth-child(2) {
    margin-top: -1.95rem;
  }
  #footer #socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    top: -14rem;
  }
  #footer #socials #socialBtns {
    margin: -1.9rem 0 0 3.75rem;
    width: 40%;
  }
  #footer #socials #socialBtns button {
    width: 6rem;
  }
  #footer #subscribeCTA {
    -ms-grid-row: 1;
    grid-row: 1/1;
    margin-right: 6rem;
    width: 95%;
  }
  #finalNotes {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    grid-row: 2/2;
    height: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #language {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 4px;
  }
  p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin: 0;
  }
  #fnLinks {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
/*# sourceMappingURL=style.css.map */