@mixin hideOnMobile {
  display: none;
}

@mixin flexIt($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$iconColor: #dadada;
$lightTextColor: #828282;
$linkColor: #43b1e6;
$lightGreyBg: #fafafa;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  a {
    color: inherit;
  }
}

nav {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid $iconColor;
}

.icon {
  color: $iconColor;
  font-size: 1.15rem;
}

#desktopNav {
  @include hideOnMobile();
}

#desktopLogo {
  @include hideOnMobile();
}

#mobileNav {
  width: 100%;
  @include flexIt(row, space-between, center);
}

#searchAcct {
  @include flexIt(row, space-between, center);
  width: 15%;
  position: relative;
  right: 2rem;
}

.fa-search {
  transform: rotate(90deg);
}

#heroContent {
  width: 100%;
  margin: 0 auto;
}

#myCart {
  width: 90%;
  margin: 0 auto;
  h2 {
    font-size: 2.25rem;
    font-weight: 600;
  }
}

.cartItm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid $iconColor;
  margin-bottom: 1rem;
  .desktopCartControls {
    @include hideOnMobile();
  }
  .productInfo {
    @include flexIt(row, left, center);
    grid-column: 1/3;
    grid-row: 1/1;
    img {
      width: 22%;
      border-radius: 5px;
      margin-right: 0.75rem;
    }
    .artistTitle {
      @include flexIt(column, center, left);
      font-size: 0.85rem;
      margin-top: -1rem;
      span:nth-child(1) {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 3px;
      }
      span:nth-child(2) {
        color: $lightTextColor;
      }
    }
  }
  .productType {
    grid-column: 1/3;
    grid-row: 2/2;
    font-size: 0.8rem;
    color: $lightTextColor;
    margin-top: 5px;
    @include flexIt(row, left, start);
    img {
      width: 1rem;
      margin-right: 5px;
    }
  }
  .removeCreditsSFL {
    grid-column: 3/3;
    grid-row: 1/3;
    @include flexIt(column, center, right);
    text-align: right;
    span {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    button:nth-child(1) {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      color: $lightTextColor;
      font-weight: 100;
      text-align: right;
    }
    .sflBtn {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      width: 8rem;
      padding: 5px;
      border-radius: 15px;
      background: transparent;
      color: $lightTextColor;
      border: 1px solid $lightTextColor;
    }
  }
}

#contShopping {
  font-size: 0.95rem;
  background: transparent;
  border: none;
  color: $linkColor;
  margin: 0.25rem 0 0 1rem;
}

#orderSummary {
  background: $lightGreyBg;
  margin-top: 2rem;
  width: 100%;
  h3 {
    font-size: 1.75rem;
    margin-left: 1rem;
    padding-top: 2.5rem;
  }
  span {
    margin-bottom: 1rem;
  }

  .summaryItm {
    width: 85%;
    margin: 0 auto;
  }

  hr {
    height: 1px;
    width: 90%;
    margin-bottom: 1rem;
    color: $iconColor;
  }

  .left {
    font-weight: bold;
  }

  .right {
    color: $lightTextColor;
    button {
      background: transparent;
      border: none;
      text-decoration: underline;
      margin-top: 1.25rem;
      color: $linkColor;
      font-size: 1rem;
    }
  }

  .promo {
    padding: 0.5rem 0 0.5rem 0;
  }

  #lastFour {
    color: $lightTextColor;
    font-weight: 400;
  }
}

#credits {
  @include flexIt(row, space-between, center);
  div {
    @include flexIt(column, center, left);
  }
}

#subTotalTax {
  @include flexIt(row, space-between, center);
  div {
    @include flexIt(column, center, left);
  }
}

#total {
  @include flexIt(row, space-between, center);
  div {
    @include flexIt(column, center, left);
  }
}

#payment {
  @include flexIt(row, space-between, center);
  div {
    @include flexIt(column, center, left);
  }
}

#order {
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
  span {
    font-size: 1rem;
    color: $lightTextColor;
  }
  div {
    @include flexIt(column, center, center);
    button {
      margin: 1.5rem 0 1.5rem 0;
      font-size: 1rem;
      padding: 15px;
      width: 90%;
      border-radius: 30px;
      font-weight: bold;
      color: white;
      background: $linkColor;
      border: none;
    }
  }
  #legal {
    width: 85%;
    text-align: center;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }
}

#savedForLater {
  padding-bottom: 3rem;
  h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .sflBtn {
    margin-top: -15px;
  }

  .productType {
    margin-top: 14px;
  }

  .cartItm {
    margin-bottom: 2rem;
  }
  .cartItm:last-child {
    border-bottom: none;
  }
}

.desktopSFLControls {
  @include hideOnMobile();
}

#sflContainer {
  width: 90%;
  margin: 0 auto;
}

#footer {
  width: 100%;
  background: #282828;
  color: white;
  margin: 0 auto;
  padding: 1rem 0.25rem 0 0.25rem;
  .footerGroup {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .footerGroup:nth-child(1) {
    margin-top: 3rem;
  }
  .footerItm {
    text-align: left;
    width: 75%;
  }

  #resources {
    grid-row: 1;
    grid-column: 2/2;
  }

  #company {
    grid-row: 1;
    grid-column: 2/2;
    position: relative;
    top: 9rem;
  }
  #account {
    grid-row: 1;
    grid-column: 2/2;
  }

  #extras {
    position: relative;
    top: -7rem;
  }
  h5 {
    font-size: 1.35rem;
    font-weight: 400;
    margin: 1.75rem 0 0.75rem 0;
  }
  h6 {
    font-size: 1.35rem;
    font-weight: 400;
    margin: 0;
  }
  span {
    font-size: 1rem;
    color: #919191;
    position: relative;
    top: 8px;
  }
  ul {
    position: relative;
    bottom: 5px;
  }
  li {
    color: #919191;
    padding-bottom: 9px;
  }
  form {
    margin: 0 auto 2rem auto;
  }
  input[type="text"] {
    width: 65%;
    height: 2.5rem;
    background: #171717;
    border: 0.5px solid #5c5c5c;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  input[type="submit"] {
    height: 2.5rem;
    width: 25%;
    background: $linkColor;
    border: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  #socialIcons {
    @include flexIt(row, center, center);
    margin-bottom: 2rem;
    i {
      padding: 0.5rem;
      font-size: 1.75rem;
    }
  }

  #socials {
    position: relative;
    top: -7rem;
  }

  #socialBtns {
    @include flexIt(row, space-between, center);
    margin: 0 auto;
    width: 55%;

    button {
      color: white;
      width: 6rem;
      border: none;
      border-radius: 3px;
      font-weight: bold;
      padding: 5px;
      &:nth-child(1) {
        background: #456db0;
      }
      &:nth-child(2) {
        background: $linkColor;
      }
    }
  }
}
#finalNotes {
  background: #171717;
  text-align: center;
  padding: 20px;
  color: $lightTextColor;
  span:nth-child(1) {
    font-size: 1.1rem;
    i {
      padding: 10px;
    }
  }
  #fnLinks {
    margin: 0.75rem auto;
    span {
      padding: 3px;
    }
  }
  p {
    margin: 0 auto;
    padding-top: 1rem;
    width: 70%;
    padding-bottom: 1rem;
  }
}

#stickyFooter {
  position: sticky;
  width: 100vw;
  background: white;
  bottom: 0;
  padding: 10px;
  #stickyContentContainer {
    @include flexIt(row, space-between, center);
    width: 90%;
    margin: 1rem auto;
  }
  #totalCredits {
    @include flexIt(column, center, left);
  }
  #placeOrder {
    button {
      padding: 15px 30px;
      border-radius: 28px;
      border: none;
      background: $linkColor;
      color: white;
    }
  }
}

@media only screen and (min-width: 1440px) {
  #mobileNav {
    display: none;
  }
  nav {
    padding: 0 10px 0 10px;
  }
  #desktopNav {
    @include flexIt(row, space-between, center);
    #desktopLogo {
      font-weight: bold;
      img {
        width: 25%;
        margin-right: 5px;
      }
    }
    ul {
      list-style: none;
      li {
        display: inline;
        padding-right: 10px;
        i {
          font-size: 1rem;
          color: $iconColor;
        }
        a {
          text-decoration: none;
          color: $lightTextColor;
          font-size: 1rem;
        }
      }
    }

    div {
      @include flexIt(row, space-evenly, center);
    }
    #desktopNavRight {
      padding-right: 2rem;
    }
  }
  input[type="text"] {
    border: none;
    border-radius: 5px;
    border: 1px solid $iconColor;
  }

  #heroContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    #contShopping {
      grid-row: 1/1;
      grid-column: 1/1;
    }
    #myCart {
      grid-row: 1/1;
      grid-column: 1/2;
      margin-top: 3rem;
    }
    .cartItm {
      grid-template-rows: 1fr;
      margin-top: -2rem;
    }
    .productInfo {
      margin-left: 1rem;
      img {
        width: 15%;
        margin-right: 1.25rem;
      }
      span {
        font-size: 1rem;
      }
    }
    .productType {
      grid-column: 2/2;
      grid-row: 1/1;
      @include flexIt(row, center, center);
      margin-left: 5rem;
      img {
        width: 1.5rem;
      }
      span {
        font-size: 1rem;
      }
    }

    .removeCreditsSFL {
      margin-top: 6.15rem;
      padding-right: 3rem;
      .desktopCartControls {
        display: inline;
        grid-column: 3/3;
        text-align: right;
        position: relative;
        left: 6px;
        button {
          background: transparent;
          border: none;
          color: $lightTextColor;
          font-size: 1rem;
        }
        span:nth-child(2) {
          color: $lightTextColor;
        }
      }
      .sflBtn {
        display: none;
      }
      .removeBtn {
        display: none;
      }
    }
    #orderSummary {
      grid-row: 1/3;
      grid-column: 2/2;
      margin-top: 0;
      padding-top: 2rem;
      h3 {
        margin-bottom: 5rem;
      }
      .promo {
        margin-top: 1rem;
      }
      hr {
        margin: 1rem auto 2rem auto;
      }
      #order {
        button {
          width: 75%;
        }
        span {
          width: 75%;
        }
      }
    }
    #savedForLater {
      grid-row: 2/3;
      grid-column: 1/2;
      margin-top: 1.75rem;
      img {
        width: 10%;
      }
      h4 {
        margin-left: 3.5rem;
        margin-bottom: 4rem;
      }
      .cartItm {
        padding: 1rem 0 1rem 0;
      }

      .desktopSFLControls {
        position: relative;
        right: 3rem;
        bottom: 2.5rem;
        grid-column: 3/3;
        grid-row: 2/2;
        display: inline;
        text-align: right;
        button {
          background: transparent;
          border: none;
          color: $lightTextColor;
          &:nth-child(2) {
            border: 1px solid $lightTextColor;
            width: 7rem;
            border-radius: 15px;
            padding: 5px 0 5px 0;
            margin-left: 1rem;
          }
        }
      }
    }
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    #footerItms {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-row: 1/1;
      grid-column: 1/3;
      padding-top: 1.5rem;
      padding-left: 3rem;
      width: 90%;
      .footerGroup {
        margin-top: 0;
        &:nth-child(2) {
          margin-top: -1.95rem;
        }
      }
    }
    #socials {
      @include flexIt(row, start, center);
      grid-row: 2/2;
      grid-column: 3/4;
      top: -14rem;
      #socialBtns {
        margin: -1.9rem 0 0 3.75rem;

        width: 40%;
        button {
          width: 6rem;
        }
      }
    }
    #subscribeCTA {
      grid-row: 1/1;
      margin-right: 6rem;
      width: 95%;
    }
  }
  #finalNotes {
    grid-column: 1/4;
    grid-row: 2/2;
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #language {
    grid-column: 3/3;
    grid-row: 1/2;
    margin-top: 4px;
  }
  p {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
  #fnLinks {
    grid-column: 2/2;
    grid-row: 1/2;
  }
}
